
html,body {
    height:100%;
    width:100%;
}

/* header {
    background: url(../images/spiration_dark.png);
} */

header h1 {
    font-family: 'Luckiest Guy', cursive;
    padding:1em 0;
}

#question-container {
    height:75%;
}

.jumbotron {
    background: url(../images/pow-star.png);
    border-top:3px #666 solid;
    border-bottom:3px #666 solid;
    height:100%;
}


/* #questionBox h2, #questionBox div {
    text-align:center;
} 

#questionBox div, #questionBox div:hover {
    margin:1rem;
}

#questionBox div {
    border:2px black solid;
}

#questionBox div:hover {
    border:2px black dotted;
    background-color:white;
}
*/

.answerContainer {
    /* text-align:center;
    background-color:#4aaaa5; */
    font-weight:500;
    padding:1rem;
    /* color: white; */
}

.correct {
    background-color:green;
    color:white;
    font-weight:bold;
}

.incorrect {
    background-color:red;
    color:white;
    font-weight:bold;
}

header, footer {
    text-align:center;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 100px) { 
    #questionBox h2 {
        font-size: 1rem;
    }
 }

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #questionBox h2 {
        font-size: 1.25rem;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #questionBox h2 {
        font-size: 1.5rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #questionBox h2 {
        font-size: 2rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #questionBox h2 {
        font-size: 2.5rem;
    }
}