
html,body {
    height:100%;
    width:100%;
}

header h1 {
    font-family: 'Luckiest Guy', cursive;
    padding-top:1em;
}

.jumbotron {
    background: url(../images/pow-star.png);
    border-top:3px #666 solid;
    border-bottom:3px #666 solid;
}

#gameTimer {
    padding:0 0 1rem; 0;
    font-family: 'Luckiest Guy', cursive;
}

.answerContainer {
    font-weight:500;
    padding:1rem;
}

.correct {
    background-color:green;
    color:white;
    font-weight:bold;
}

.incorrect {
    background-color:red;
    color:white;
    font-weight:bold;
}

header, footer {
    text-align:center;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 100px) { 
    #questionBox h2 {
        font-size: 1rem;
    }
 }

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #questionBox h2 {
        font-size: 1.25rem;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #questionBox h2 {
        font-size: 1.5rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #questionBox h2 {
        font-size: 2rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #questionBox h2 {
        font-size: 2.5rem;
    }
}